.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 1230px;
    width: 50%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .hero__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
    grid-gap: 20px;
  }
  
  
  .hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .hero__title {
    color: #000;
    font-size: 48px;
    line-height: 1.1;
  
    margin-bottom: 20px;
  }
  
  .hero__prof {
    color: #4facfe;
    white-space: nowrap;
  }  
  .hero__links {
    flex-direction: column;
    display: flex;
  }
  
  .hero__link {
    margin-right: 10px;
  
    font-size: 30px;
    color: #000;
  }
  
  .hero__link:hover {
    color: #4facfe;
  }
  .hero__box-img {
    max-height: 400px;
    max-width: 400px;
  }
  .hero__box {
    max-height: 400px;
    max-width: 400px;
    justify-self: center;
    overflow: hidden;
    border: 10px solid #fff;
  
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  
    animation: ava-animate 5s infinite alternate;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
  }
  
  .hero__box-img {
    animation: ava-bg 3s infinite alternate;
  }
  
  @media screen and (max-width: 978px) {
    .hero {
      padding-top: 30px;
    }
  
    .hero__container {
      grid-row-gap: 20px;
    }
  
    .hero__title {
      font-size: 28px;
      margin-bottom: 10px;
    }
  
    .hero__subtitle {
      font-size: 22px;
      font-weight: 400;
    }
  
    .hero__description {
      font-size: 14px;
    }
  
    .hero__about {
      text-align: center;
    }
  
    .hero__links {
      justify-content: center;
    }
  
    .hero__box {
      max-width: 350px;
      justify-self: center;
    }
  }
  
  
  
  @keyframes ava-animate {
    0% {
      border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
    }
  
    40% {
      border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
    }
  
    60% {
      border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
    }
  
    100% {
      border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
    }
  }
  
  @keyframes ava-bg {
    from {
      backdrop-filter: hue-rotate(0);
    }
  
    to {
      backdrop-filter: hue-rotate(90deg);
    }
  }





  @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Lora, sans-serif;
  }
  p {
    margin: 0;
  }
  #burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
  }
  #burger-toggle:checked ~ .menu {
    opacity: 1;
    visibility: visible;
  }
  #burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
  }
  #burger-toggle:checked ~ .burger-menu .line::after {
    transform: translateX(0);
  }
  #burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
  }
  #burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
    transform: scaleX(0);
  }
  #burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
  }
  .burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 5vh;
    left: 4vw;
    z-index: 100;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
  }
  .burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: #51d6ff;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .burger-menu .line:nth-child(1) {
    top: 30%;
  }
  .burger-menu .line:nth-child(2) {
    top: 50%;
  }
  .burger-menu .line:nth-child(3) {
    top: 70%;
  }
  .burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color-darker);
    transform: translateX(-100%);
    transition: 0.25s;
  }
  .burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
  }
  .burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
  }
  .burger-menu:hover .line::after {
    transform: translateX(0);
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1e23;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
  }
  @media screen and (max-width: 750px) {
    .menu {
      display: block;
    }
  }
  .menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
  }
  @media screen and (max-width: 750px) {
    .menu-nav {
      flex-direction: column;
    }
  }
  .menu-nav-item {
    flex: 1;
  }
  .menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  .menu-nav-link span {
    overflow: hidden;
  }
  .menu-nav-link span div {
    transform: translateY(102%);
  }
  .menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .menu .gallery {
    margin-top: 60px;
    text-align: center;
  }
  .menu .title {
    font-size: 24px;
    color: white;
    overflow: hidden;
  }
  .menu .title p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
  }
  .menu .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 750px) {
    .menu .images {
      justify-content: center;
    }
  }
  .menu .images .image-link {
    width: 15vw;
    margin: 0 12px;
    overflow: hidden;
  }
  @media screen and (max-width: 750px) {
    .menu .images .image-link {
      width: 40vw;
      margin: 0 12px 12px 0;
    }
  }
  .menu .images .image-link .image {
    position: relative;
    transition: 0.6s;
  }
  .menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s;
  }
  .menu .images .image-link:hover .image {
    transform: scale(1.2);
  }
  .menu .images .image-link:hover .image::before {
    opacity: 1;
  }
  .menu .images img {
    height: 250px;
    transform: translateY(102%);
  } 




   
  html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    width: 650%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 436px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  


  .title__menu {
    font-family: raleway_f;
	  src: url(../fonts/raleway-black.woff2);
    display: flex;
    justify-content: flex-start;
    font-weight: 200;
    margin: -58px;
    border: 10px;
    box-sizing: border-box;
    }